### __Pre processing the CSV files so they can be directly loaded by the cpp files__

In [100]:
import pandas as pd

In [1]:
import pandas as pd

In [2]:
train_x = pd.read_csv("../csv/train_features.csv")
train_y = pd.read_csv("../csv/train_labels.csv")
test_x = pd.read_csv("../csv/test_features.csv")

In [3]:
train_x = train_x.groupby(train_x["pid"], sort=False, as_index=False).agg(
    "mean"
)
train_x.drop("Time", axis=1, inplace=True)

test_x = test_x.groupby(test_x["pid"], sort=False, as_index=False).agg("mean")
test_x.drop("Time", axis=1, inplace=True)

In [4]:
train_x_mean = train_x.fillna(train_x.mean())
train_x_zero = train_x.fillna(0.0)

test_x_mean = test_x.fillna(test_x.mean())
test_x_zero = test_x.fillna(0)

In [5]:
train_y.head()

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.1,85.4,100.0,59.9
1,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.8,100.6,95.5,85.5
2,100,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,16.5,88.3,96.5,108.1
3,1000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,19.4,77.2,98.3,80.9
4,10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.6,76.8,97.7,95.3

In [6]:
train_x_zero.head()

,pid,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,34.0,0.000000,0.00,12.0,0.000,36.750000,8.566667,25.333333,-0.666667,...,0.0,100.000000,0.0,112.0,23.2,77.083333,0.0,0.00,114.500000,7.37
1,10,71.0,0.000000,27.80,12.0,0.000,36.000000,14.600000,0.000000,0.000000,...,68.0,98.000000,0.0,0.0,42.1,78.818182,1.3,0.01,132.909091,0.00
2,100,68.0,0.000000,20.90,21.0,0.000,36.250000,12.500000,27.000000,0.000000,...,0.0,96.500000,0.0,101.0,36.8,109.083333,0.0,0.00,117.000000,0.00
3,1000,79.0,31.863636,0.00,22.0,3.855,36.818182,9.200000,0.000000,0.000000,...,0.0,98.818182,0.0,0.0,27.3,86.363636,0.0,0.00,141.909091,7.30
4,10000,76.0,0.000000,28.55,22.0,0.000,36.750000,10.700000,25.500000,1.500000,...,0.0,98.545455,0.0,103.5,30.3,77.090909,0.0,0.00,123.000000,7.39

In [7]:
train_x_mean.to_csv("../csv/train_mean.csv", header=False, index=False)
train_x_zero.to_csv("../csv/train_zero.csv", header=False, index=False)
train_y.to_csv("../csv/train_labels_noHeader.csv", header=False, index=False)
test_x_mean.to_csv("../csv/test_mean.csv", header=False, index=False)
test_x_zero.to_csv("../csv/test_zero.csv", header=False, index=False)

In [98]:
classification_labels = [
    "LABEL_BaseExcess",
    "LABEL_Fibrinogen",
    "LABEL_AST",
    "LABEL_Alkalinephos",
    "LABEL_Bilirubin_total",
    "LABEL_Lactate",
    "LABEL_TroponinI",
    "LABEL_SaO2",
    "LABEL_Bilirubin_direct",
    "LABEL_EtCO2",
]
train_y = train_y[classification_labels]
train_y.to_csv("train_classification_labels.csv", header=False, index=False)

,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2
0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0,1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0