In [42]:
import pandas as pd
from sklearn.metrics import mean_squared_error

df = pd.read_csv("train.csv", index_col="Id")
df.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
Id,,,,,,,,,,,
0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [43]:
atol = 1e-12
y = df.loc[:, "y"]
y_pred = df.loc[:, df.columns != "y"].mean(axis=1)
assert ((y - y_pred) < atol).all()

print(mean_squared_error(y, y_pred) ** 0.5)

5.0655987678336215e-14

In [44]:
df = pd.read_csv("test.csv", index_col="Id")
sol = pd.DataFrame(df.mean(axis=1), columns=["y"])
sol.to_csv("solution.csv")